
nav{
    background-color: #94B49F;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    width: calc(100% - 10px);
    border-radius: 10px 10px 10px 10px;
    z-index: 1;
}
#title{
    text-align: center;
    font-size: 2rem;
}
#title p{
    margin: 5px 15px 5px;
}
nav a {
    color: white;
    text-decoration: none;
}

#navbar :first-child{
    font-weight: bold;
}

#navbar{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#content{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    color: darkgray;
}
header{
    margin:3rem 0 0 0;
    font-size: 2rem;
    font-weight: bold;
}

#creatuser{
    border: solid 1px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.creatlabel{
    padding: 0 0 0 1rem;
    text-align: left;
}
#creatuserinfo label{
    padding: 0 5rem 0 1rem;
    text-align: left;
}

#creatuser{
    margin:0 20%;
}

#creatuserinfo input{
    width: 50%;
    text-align: left;
}

#department{
    width: 51%;
    margin: 0 4rem 0 0;;
}

#button{
    display:flex;
    justify-content: center;
}

#button input{
    margin: 5px;
}

#button :nth-child(2){
    background-color: #4CACBC;
}

#usercard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
}

.userprofile{
    flex: 0 0 31%;
    border: solid 1px black;
    border-radius: 10px;
    margin: 3px 0;
    text-align: center;
}

.username{
    font-weight: bold;
}

.usertext{
    margin: 16px 2px;
}

@media only screen and (max-width: 600px){
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    #navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    nav a {
        padding: 5px;
        margin:0 0 0 10px;
    }
    header{
        margin: 8rem 0 0 0;
    }

    #creatuser{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: solid 1px black;
    }
    .creatlabel{
        margin: auto;
        font-size: 2rem;
        padding: 3px 5rem 3px 0;
        text-align: left;
    }
    #creatuserinfo{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #creatuserinfo label{
        margin: 0 5rem 5px 0;;
    }

    #creatuserinfo input{
        width: 68%;
        margin: 0 5rem 0 1rem;;
    }

    #department{
        width: 70%;
        margin: 0 5rem 0 1rem;;
    }
    br {
        display: none;
    }
    #button{
        display: flex;
        flex-direction: column;
        margin: 5px 70px;
    }
    #usercard{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
    }
}